.cont {
  .top {
    color: #FF9302;
    .bg_logo1 {
      display: inline-block;
      width: 50%;
      height: 258px;
      background-image: url("./../img/bg.png");
      background-size: contain;
    }
  }
  .bottom {
    color: #F00000;
  }
}